.silver {
  background: #d3d5d4;
}

.gold {
  background: #e4d3be;
}

.space-grey {
  background: #86878b;
}

.black {
  background: #1d1d1d;
}

.blue {
  background: #62aee1;
}

.yellow {
  background: #edcb5d;
}

.coral {
  background: #ec7562;
}

.red {
  background: #8a1a19;
}

.rose-gold {
  background: #e8cdbf;
}

.midnight-green {
  background: #6f7972;
}

.green {
  background: #b7dece;
}

.purple {
  background: #d0cdda;
}

.pink {
  background: #fd327d;
}
